<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>house-hunt</title>

    <style>
      .list-group button:hover {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <h1>house-hunt</h1>
      <table class="table table-bordered table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">coding</th>
            <th scope="col">prediction</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">listing</th>
            <th scope="col">stats</th>
            <th scope="col">type</th>
            <th scope="col">address</th>
          </tr>
        </thead>
        <tbody>
          {% for listing in listings %}
          <tr>
            <th scope="row">
              <form>
                <div class="list-group">
                  <button type="button" class="list-group-item list-group-item-action active">Unset</button>
                  <button type="button" class="list-group-item list-group-item-action">Ideal</button>
                  <button type="button" class="list-group-item list-group-item-action">Not Ideal</button>
                </div>
              </form>
            </th>
            <td>{{0}}</td>
            <td>
              <a href="https://realtor.com/realestateandhomes-detail/{{listing.permalink}}" target="_blank">
                <img src="{{listing.href}}" width="375" height="225" />
              </a>
            </td>
            <td>
              <ul class="list-group">
                <li class="list-group-item">
                  <a href="https://realtor.com/realestateandhomes-detail/{{listing.permalink}}" target="_blank">
                    {{listing.listing_id}}
                  </a>
                </li>
                <li class="list-group-item">{{listing.list_date}}</li>
                <li class="list-group-item">{{listing.list_price}}</li>
              </ul>
            </td>
            <td>
              <ul class="list-group">
                <li class="list-group-item">{{listing.beds}} bed</li>
                <li class="list-group-item">{{listing.baths}} bath</li>
                <li class="list-group-item">{{listing.garage}} garage</li>
                <li class="list-group-item">{{listing.stories}} stories</li>
                <li class="list-group-item">{{listing.sqft}} sqft</li>
              </ul>
            </td>
            <td>
              <div>{{listing.type}}</div>
              <div>{{listing.sub_type}}</div>
            </td>
            <td>
              <div>{{listing.line}}</div>
              <div>{{listing.city}}, {{listing.state_code}} {{listing.postal_code}}</div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

